span.button {
    padding-left: 5px;
    padding-right: 5px;
}
span.clickable {
    cursor: pointer;
}
span.forbidden {
    color: red;
    font-weight: bold;
}
span.forced {
    color: green;
    font-weight: bold;
}
span.normal {
    color: black;
}
span.ascii {
    font-family: "Courier";
    padding-left: 2px;
    padding-right: 2px;
}
#movieResults, td, th {
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 1px solid black;
}
